services:
	userRepository:
		class: App\Model\Repository\UserRepository
		factory: @App\Model\EntityManager::getRepository(App\Model\Entity\User)
	groupRepository:
		class: App\Model\Repository\GroupRepository
		factory: @App\Model\EntityManager::getRepository(App\Model\Entity\Group)
	productRepository:
		class: App\Model\Repository\ProductRepository
		factory: @App\Model\EntityManager::getRepository(App\Model\Entity\Product)
	wishlistRepository:
		class: App\Model\Repository\WishlistRepository
		factory: @App\Model\EntityManager::getRepository(App\Model\Entity\Wishlist)
	imageRepository:
		class: App\Model\Repository\ImageRepository
		factory: @App\Model\EntityManager::getRepository(App\Model\Entity\Image)
