services:
	userService:
		class: App\Service\UserService
	groupService:
		class: App\Service\GroupService
	wishlistService:
		class: App\Service\WishlistService
	productService:
		class: App\Service\ProductService
