parameters:
	mail:
		- defaultAddresses: [david.kalianko@quanti.cz]
		- dump: %isProduction%
	isProduction: false
	db:
		host: "f80b6byii2vwv8cx.chr7pe7iynqr.eu-west-1.rds.amazonaws.com"
		dbname: "wishlist"
		user: "s9xyjpdfkwv6mu8u"
		password: "nvsh4wwtomtoagbf"
