parameters:
	mail:
		- defaultAddresses: [david.kalianko@quanti.cz]
		- dump: %isProduction%
	isProduction: false
	db:
		host: "klbcedmmqp7w17ik.cbetxkdyhwsb.us-east-1.rds.amazonaws.com"
		dbname: "wdsguodzz2ss8f63"
		user: "a2u42ic28pcnlrsw"
		password: "qcjaan6bjar5dgcy"
