parameters:
	mail:
		- defaultAddresses: [david.kalianko@quanti.cz]
		- dump: %isProduction%
	isProduction: false
	db:
		host: "sql303.epizy.com"
		dbname: "epiz_30290582_wishlist"
		user: "epiz_30290582"
		password: "ubbo9BnIGD"
